<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <appSettings file="&lt;system.webServer>  &#xD;&#xA;&lt;modules runAllManagedModulesForAllRequests=&quot;true&quot; />  &#xD;&#xA;&lt;/system.webServer> " lockAttributes="file" />
    </location>
</configuration>
